/*<!--
descricao: Exercicio aula 12.
nome_arquivo: login.html
nome_exercicio: Exercício 12 - Formulário de Login
nome_aluno: Raquel Duarte
email_aluno: raquel.duarte@aluno.cps.sp.gov.br
turma: WEBI-ISW028-A
-->*/



#loginForm{
    font-family: Arial, sans-serif;
    color: #003d728b;
    background-color: #e5eafa;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 400px;
    border: 12px double rgb(140, 10, 10);
    padding: 30px;
    margin: 100px;
}
h1{
    font-family: Arial, sans-serif;
    color: #bd078cd3;
    background-color: #e5eafa;
    text-align: center;
    
}

.email{
    font-family: Arial, sans-serif;
    color: #003d728b;
    background-color: #e5eafa;
    text-align: center;
  
    
}
.password{
    font-family: Arial, sans-serif;
    color: #003d728b;
    background-color: #e5eafa;
    text-align: center;
    

}
